{{#> layout}}
<h3>Authorising</h3>
<p>Welcome {{user.username}}!</p>
<p>Grant <b>{{client.name}}</b> access to your account?</p>

<form class="form-group" action="/oauth/authorize?allowed=true" method="POST" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="client_id" value="{{client.clientId}}" />
    <input type="hidden" name="grant_type" value="authorization_code" />
    <input type="hidden" name="scope" value="*" />
    <input type="hidden" name="response_type" value="code" />
    <input type="hidden" name="redirect_uri" value="{{redirectUri}}" />
    <button type="submit" class="btn btn-success">Approve</button>
</form>
<form class="form-group" action="/oauth/authorize?allowed=false" method="POST" enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="client_id" value="{{client.clientId}}" />
    <input type="hidden" name="grant_type" value="authorization_code" />
    <input type="hidden" name="scope" value="*" />
    <input type="hidden" name="response_type" value="code" />
    <input type="hidden" name="redirect_uri" value="{{redirectUri}}" />
    <button type="submit" class="btn btn-danger">Deny</button>
</form>

{{/layout}}
